<article class="pdp-accordion">
  <div class="pdp-accordion__header">
    <h3 class="pdp-accordion__title pdp-text-champagne">
      {{ faq_question }}
    </h3>
    <button class="pdp-accordion__button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 17C12.186 17 12.3721 16.9267 12.5141 16.7803L19.7869 9.28029C20.071 8.98723 20.071 8.51267 19.7869 8.2198C19.5027 7.92692 19.0425 7.92673 18.7585 8.2198L12 15.1895L5.24143 8.21979C4.95725 7.92673 4.49707 7.92673 4.21307 8.21979C3.92907 8.51286 3.92889 8.98742 4.21307 9.28029L11.4858 16.7803C11.6278 16.9267 11.814 17 12 17Z" fill="#151515"/>
        </svg>
        
    </button>
  </div>

  <div class="pdp-accordion__panel">
    <div>
      {{ faq_answer }}
    </div>
  </div>
</article>