.pdp-sticky-cta-wrapper {
    position: fixed;
    left: 0;
    bottom: -100px;
    width: 100%;
    z-index: 11;
    background: #fff;
    transition: .3s;
    padding: 8px 20px 16px 20px;
}
  
  .pdp-sticky-cta {
    height: 48px;
    margin-bottom: 0;
  }
  
  .pdp-sticky-cta-wrapper.sticky {
    bottom: 0;
  }
  button.needsclick.kl-teaser-VN29AL.undefined.kl-private-reset-css-Xuajs1 {
    display: none;
}
  
  @media (min-width: 768px) {
    .pdp-sticky-cta-wrapper {
      display: none;
    }
  }
  